/* 
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-quartz.css';

.ag-header-cell-label .ag-header-icon {
  display: none;
} */
#map {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  z-index: 1;
}

.leaflet-routing-instructions {
  display: none !important;
}



