<div>
  <app-hello-and-date></app-hello-and-date>

  <hr>

  <div class="grid xl:grid-cols-2 gap-y-5 lg:gap-y-1 lg:gap-x-9 my-5">
    <div class="px-5">
      <div class="flex items-center justify-between">
        <h1 class="text-lg font-medium">Student Location</h1>
        <button class="text-blue-500 font-medium hover:underline">
          <a routerLink="/parent/tracking">See detail</a>
        </button>
      </div>
      <p class="text-sm text-neutral-500">Get live updates on your child's location—click 'See detail' to explore</p>
      <div class="w-full min-h-48 h-auto mt-2 border rounded-xl shadow-md">
        <div id="map" class="relative">
          <div *ngIf="isLoading"
            class="absolute top-0 left-0 w-full h-full flex items-center justify-center rounded-lg bg-white z-[9999]">
            <div class="ui-loader rounded-lg loader-blk">
              <svg viewBox="22 22 44 44" class="multiColor-loader">
                <circle cx="44" cy="44" r="20.2" fill="none" stroke-width="3.6"
                  class="loader-circle loader-circle-animation">
                </circle>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="px-5">
      <div class="flex items-center justify-between">
        <h1 class="text-lg font-medium">Attendance Recap</h1>
        <button class="text-blue-500 font-medium hover:underline">
          <a routerLink="/parent/attendance">See all</a>
        </button>
      </div>
      <p class="text-sm text-neutral-500">Recent Attendance Overview</p>
      <div class="w-full min-h-48 mt-2 p-1 md:p-6 border rounded-xl shadow-md">
        <ng-container *ngIf="rowListRecap && rowListRecap.length > 0; else noData">
          <table class="w-full h-full table-fixed text-sm md:text-base">
            <thead>
              <tr>
                <th class="px-4 py-2 text-left">#</th>
                <th class="px-4 py-2">First Name</th>
                <th class="px-4 py-2">Date</th>
                <th class="px-4 py-2">Status</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr *ngFor="let recap of rowListRecap; let i = index">
                <td class="px-4 py-2 text-left">{{ i + 1 }}</td>
                <td class="px-4 py-2">{{ recap.student_first_name }}</td>
                <td class="px-4 py-2">{{ recap.created_at | date: 'dd-MM-yyyy' }}</td>
                <td class="px-4 py-2 capitalize">
                  <span class="text-gray-600">
                    <!-- Conditional status display -->
                    <ng-container *ngIf="recap.status === 'waiting_to_be_taken_to_school'">
                      <span class="text-yellow-500">Waiting to school</span>
                    </ng-container>

                    <ng-container *ngIf="recap.status === 'going_to_school'">
                      <span class="text-green-500">Going to school</span>
                    </ng-container>

                    <ng-container *ngIf="recap.status === 'at_school'">
                      <span class="text-green-500">At school</span>
                    </ng-container>

                    <ng-container *ngIf="recap.status === 'waiting_to_be_taken_to_home'">
                      <span class="text-blue-500">Waiting to home</span>
                    </ng-container>

                    <ng-container *ngIf="recap.status === 'home'">
                      <span class="text-gray-500">At home</span>
                    </ng-container>

                    <!-- Default message for unknown or empty status -->
                    <ng-container *ngIf="!recap.status">
                      <span class="text-gray-400">Unavailable</span>
                    </ng-container>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>

        <!-- Template if no data -->
        <ng-template #noData>
          <div class="text-center text-gray-500 text-sm">
            <p>No data available</p>
          </div>
        </ng-template>
      </div>
    </div>

  </div>
</div>


<!-- <div *ngIf="isModalParentForCheckTheChildDetail"
  class="flex items-center justify-center bg-gray-900 h-screen w-screen absolute top-0 left-0 opacity-40 z-50">
  <div class="bg-white w-1/2 h-1/2 opacity-100">

  </div>
</div> -->